*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: bisque;
}

.content{
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
}

.post{
    color: black;
    background: #fff;
    padding: 1.5rem;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 90%);
}

@media(min-width: 600px){
    .content{
        grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    } 
}/* Comando para deixar o site mais dinamico e mais responsivel, de acordo com a tela do usuário final*/

.post__title{
    color: blue;
}